*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

.nav{
    background-color: blue;
    width: 100vw;
    height: 5vh;
}
header{
    background-color: orange;
    padding: 20px;
    align-items: center;
    display: flex;
}
.Logo{
    background-color: darkorange;
    width: 55vw;
    height: 55vh;
}
main{
    background-color: red;
    width: 100vw;
    height: 53vh;
}
footer{
    background-color: grey;
    width: 100vw;
    height: 12vh;
}